{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coding Test Challenges</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}?version=1">
</head>
<body>

<h1>코딩 테스트 에디터</h1>

<h2>Python 언어로 푸는 문제</h2>

<div class="difficulty-container">
  <h4>제목</h4>
  <span class="difficulty">난이도</span>
</div>

<ul>
  <li>
    <h3>문제 1: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 2: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 3: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 4: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 5: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 6: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 7: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 8: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 9: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>

  <li>
    <h3>문제 10: 문제명</h3>
    <p>코딩테스트 입문</p>
  </li>
  <!-- 다른 문제들도 유사하게 추가 가능 -->
</ul>

</body>
</html>