{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
  <script src="{% static 'lib/min/vs/loader.js' %}"></script>
  <script>
    window.onload = setInit;

    const currentProtocol = window.location.protocol;

    // 적절한 프로토콜에 따라 웹소켓 주소 설정
    const webSocketProtocol = (currentProtocol === 'https:') ? 'wss://lambdathunder.xyz/socket.io' : 'ws://lambdathunder.xyz:8000';

    const webSocket = new WebSocket(webSocketProtocol);

    require.config({
      paths: {
        'vs' : "{% static 'lib/min/vs' %}"
      }
    });

    require(["vs/editor/editor.main"], () => {
      var editor = monaco.editor.create(document.getElementById('container'), {
        value: `def main():\n\tprint('Hello! World!')\n\treturn 'Bye Bye'`,
        language: 'python',
        theme: 'vs-dark',
        scrollBeyondLastLine: false,
        minimap: { enabled: false },
      });
      window.logEditorValue = function() {
        var code = editor.getValue();
        var args = getValues();
        var json_data = {
          CODE : code,
          ARGS : args
        };
        var jsonString = JSON.stringify(json_data, null, 2);
        webSocket.send(jsonString);
      };
    });
    webSocket.onmessage = function(event) {
      const receivedMessage = event.data;
      const rt = document.getElementById('return');
      rt.innerHTML += receivedMessage;
    };
  </script>
</head>
<body>
  <!-- Top Bar -->
  <div class="bar" id="TopBar">
  </div>
  <!-- End of Top Bar -->

  <!-- Middle Bar -->
  <div class="bar" id="MiddleBar">
  </div>
  <!-- End of Middle Bar -->


  <!-- Overlay Area -->
  <div id="overlay" class="overlay">
    <div class="overlay-content">
      <div id="table-container">
        <table id="myTable">
          <thead>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <p>
        <button onclick="addRow()">행 추가</button>
        <button class="close-btn" onclick="closeOverlay()">
          닫기
        </button>
      </p>
    </div>
  </div>
  <!-- End of Overlay Area -->

  <!-- Grid Area -->
  <div class="case">
    <div class="grid"  id="resizableGrid">
      <div class="item merged">
        <p class="text">
          아에이오우<br>
        </p>
      </div>
      <div class="code">
        <div id="container"></div>
      </div>
      <div class="item text" id="return">
      </div>
    </div>
  </div>
  <!-- End of Grid Area -->

  <!-- Under Bar -->
  <div class="bar under">
    <button onclick="logEditorValue()" id="submit">
      제출하기
    </button>
    <button onclick="openOverlay()">
      오버레이 열기
    </button>
  </div>
  <!-- End of Under Bar -->
</body>
