{% load compress %}
{% load static %}
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static 'css/login.scss' %}?version=1">
{% endcompress %}
<HTML>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>
  <body>

    <div class="login">
      <div class="login__content">
        <div class="login__img">
          <img src="https://image.freepik.com/free-vector/code-typing-concept-illustration_114360-3581.jpg" alt="user login">
        </div>
        <div class="login__forms">
  <!--         login form -->

    <form action="{% url 'login_view' %}" class="login__register" id="login-in" method="POST">
    {% csrf_token %}
    <h1 class="login__title">로그인</h1>
    <div class="login__box">
      <i class='bx bx-user login__icon'></i>
      <input type="text" name="ID" placeholder="Username" class="login__input" required>
    </div>
    <div class="login__box">
      <i class='bx bx-lock login__icon'></i>
      <input type="text" name="Password" placeholder="Password" class="login__input" required>
    </div>
    <a href="#" class="login__forgot">Forgot Password?</a>
    <button href="#" type="submit" class="login__button log_in">Sign In</button>
            
            <div>
              <span class="login__account login__account--account">Don't Have an Account?</span>
              <span class="login__signin login__signin--signup" id="sign-up">Sign Up</span>
            </div>
          </form>

  <!--뭔가있던자리-->

          <form action="{% url 'Insert_into_table' %}" class="login__create none" id="login-up" method="POST">
            {% csrf_token %}
            <h1 class="login__title">Create Account</h1>
            <div class="login__box">
              <i class='bx bx-user login__icon'></i>
              <input type="text" placeholder="Nickname" name="Nickname" class="login__input" required>
            </div>
            
            <div class="login__box">
              <i class='bx bx-at login__icon'></i>
              <input type="text" placeholder="ID" name="ID" class="login__input" required>
            </div>
            
            <div class="login__box">
              <i class='bx bx-lock login__icon'></i>
              <input type="text" placeholder="Password" name="Password" class="login__input" required>
            </div>
            
            <a href="#" class="login__button sign_up">Sign Up</a>
            <div>
              <span class="login__account login__account--account">Already have an Account?</span>
              <span class="login__signup login__signup--signup" id="sign-in">Sign In</span>
            </div>
          </form>
        </div>
      </div>
     </div>
  </body>
  <script>
    $(document).ready(function () {
        // "Sign In" 및 "Sign Up" 버튼 클릭 시 폼 제출
        $(".sign_up").click(function () {
            submitForm();
        });

        function submitForm() {
            // 폼 데이터 가져오기
            var formData = $(".login__create").serialize();

            // AJAX 요청으로 폼 제출
            $.ajax({
                type: "POST",
                url: $(".login__create").attr("action"),
                data: formData,
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                },
                success: function (response) {
                    // 성공 처리
                    console.log(response);

                    // 사용자 정보 대조 성공 시 리다이렉트
                    if (response.redirect_url) {
                        window.location.href = response.redirect_url;
                    }
                },
                error: function (error) {
                    // 오류 처리
                    console.error(error);
                }
            });
        }

        // CSRF 토큰을 쿠키에서 가져오는 함수
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                var cookies = document.cookie.split(";");
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // 쿠키 이름으로 시작하는 경우
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>

  <script src="{% static 'js/login.js' %}"></script>
   
</HTML>
