asgiref==3.7.2
attrs==20.3.0
Babel==2.9.1
boto3==1.29.5
botocore==1.32.5
cffi==1.14.5
channels==4.0.0
chardet==4.0.0
chevron==0.13.1
colorama==0.4.4
configobj==5.0.6
cryptography==36.0.1
dbus-python==1.2.18
distro==1.5.0
dj-database-url==2.1.0
Django==4.2.7
django-appconf==1.0.6
django-compressor==4.4
django-environ==0.11.2
django-libsass==0.9
docutils==0.16
idna==2.10
Jinja2==2.11.3
jmespath==0.10.0
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
libcomps==0.1.11.post1
libsass==0.22.0
lockfile==0.12.2
MarkupSafe==1.1.1
netifaces==0.10.6
oauthlib==3.0.2
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.24
pycparser==2.20
PyMySQL==1.1.0
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-daemon==2.3.0
python-dateutil==2.8.1
pytz==2022.7.1
PyYAML==5.4.1
rjsmin==1.2.1
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
s3transfer==0.7.0
selinux==0.3.0
setools==1.2.3
six==1.15.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.25.10
wcwidth==0.2.5
